<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600751271596-156a8itgbiuq56edjvh8jdsit7i69m4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600751271596-156a8itgbiuq56edjvh8jdsit7i69m4l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>600751271596-j3g61lje0io10scqgmdmiavt3m48hfr4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCV8yuFMN-GYUmSMuLCmj4EfecpEQ_K9sw</string>
	<key>GCM_SENDER_ID</key>
	<string>600751271596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carrot.market</string>
	<key>PROJECT_ID</key>
	<string>carrot-market-434412</string>
	<key>STORAGE_BUCKET</key>
	<string>carrot-market-434412.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600751271596:ios:4d22a6aa3847235aeeb909</string>
</dict>
</plist>